<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

 
<hibernate-configuration>
    <session-factory>
        <mapping class="com.vincentko.feedaggregate.form.Feed" />
        <mapping class="com.vincentko.feedaggregate.form.FeedCategory" />
        <mapping class="com.vincentko.feedaggregate.form.FeedChannel" />        
    </session-factory>
	    
</hibernate-configuration>